@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #b3b6c9;
  color: rgb(20, 11, 11);
  font-family: 'Gentium Plus', serif;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
  position: relative;
}

.header_img {
  height: 10vh;
  margin: 1vh 2vw;
  position: absolute;
}

.header h1 {
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 3.5rem;
}

.add_note {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add_note form {
  width: 40vw;
  margin: 5vh 0;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
}

.add_note input {
  font-size: 1.5rem;
  display: block;
  width: 100%;
  height: 5vh;
  text-align: center;
  border: none;
  font-weight: bold;
  outline: none;
  margin: 1rem 0;
}

.add_note textarea {
  outline: none;
  border: none;
  display: block;
  height: 10vh;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  resize: vertical;
}

.add_note .btn {
  float: right;
  border-radius: 50%;
  margin: 0.5rem;
  font-weight: bold;
  color: black;
  box-shadow: 4px 3px 8px 4px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
}

.add_note .btn:hover {
  color: white;
  background-color: #b3b6c9;
}

.notes {
  width: 15vw;
  height: auto;
  border-radius: 1rem;
  margin: 2rem 2rem;
  background-color: #b3b6c9;
  box-shadow: 4px 3px 8px 4px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.notes p {
  margin: 0.8rem;
  display: inline-block;
  font-size: 1.2rem;
}

.heading {
  font-weight: bold;
  margin-top: 1rem;
  /* border: 2px solid red; */
}

.notes .btn {
  border-radius: 50%;
  font-weight: bold;
  margin: 0.4rem 0;
  background-color: white;
  width: 2rem;
  height: 3rem;
  margin-left: 10rem;
  color: black;
  box-shadow: 4px 3px 8px 4px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
}

.notes .btn:hover {
  color: red;
  background-color: white;
}

.footer {
  text-align: center;
  font-family: 'Gentium Plus', serif;
  font-size: 1.5rem;
  width: 100%;
  margin-top: auto;
  box-shadow: 4px 3px 8px 1px #969696;
  background-color: #b3b6c9;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
}

.grid{
  display: grid;
  grid-template-columns: auto auto auto auto;
}